<div class="row" ng-controller="RateLimitingCtrl">
    <section class="offset1">
        <h1>Rate limiting</h1>
    </section>
    <accordion close-others="false">
        <accordion-group heading="Configuration" is-open="ratelimiting.openConfig">
            <section class="offset1">
                <h2>Threshold</h2>

                <form class="form-inline">
                    <input type="text" class="input-mini" ng-model="ratelimiting.threshold"/>
                    <button type="button" class="btn btn-primary" ng-click="setThreshold()">Validate</button>
                </form>

                <form class="form-inline">
                    <br/>
                    <h2>TTL value (s)</h2>
                    <div ui-slider min="0" max="20" ng-model="ratelimiting.ttl"/>
                    <br/>
                    <input type="text" class="input-mini" ng-model="ratelimiting.ttl" disabled/>
                </form>
            </section>
            <br/>
        </accordion-group>
        <accordion-group heading="Data" is-open="ratelimiting.openData">
            <section class="offset1">
                <h2>Insertion</h2>

                <form class="form-inline">
                    <h4 class="text-info">INSERT INTO ratelimit(id,column,value)
                        VALUES('ratelimit','{{ratelimiting.value}}','{{ratelimiting.value}}') USING TTL
                        {{ratelimiting.ttl}}</h4>
                    <br/>
                    <input type="text" class="input-mini" ng-model="ratelimiting.value"/>
                    <button type="button" class="btn btn-primary" ng-click="insertValueAndPoll()"
                            ng-disabled="ratelimiting.insertionDisabled">
                        Insert value
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="stopPolling()">Stop polling</button>
                </form>
            </section>
            <hr/>
            <section class="offset1">
                <div>
                    <ui-include src="'assets/views/templates/common.html'" fragment="'#server-reply'"/>
                </div>
                <div ng-if="success && httpResponse.data">
                    <br/>
                    <h4 class="text-info">Threshold check : "SELECT count(*) FROM ratelimit WHERE id='ratelimit'" < threshold</h4>
                    <br/>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th><h4>Value</h4></th>
                            <th><h4>Remaining TTL (s)</h4></th>
                        <tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in httpResponse.data">
                            <td><h4>{{data.value}}</h4></td>
                            <td><h4>{{data.ttl}}</h4></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </accordion-group>
    </accordion>
</div>
